@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic);

/* font-family: "PFCentroSlabProRegular"; */
@font-face {
    font-family: "PFCentroSlabProRegular";
    src: url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.eot");
    src: url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.woff") format("woff"),
    url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFCentroSlabProBold"; */
@font-face {
    font-family: "PFCentroSlabProBold";
    src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot");
    src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff") format("woff"),
    url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	background: #2c353d;
	font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #1a1a1a;
}
a {
	color: #41B8E9;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: #e97241;
	text-decoration: none;
	cursor: pointer;
}
a:active {
	text-shadow: 0 0 1px #ddd;
}
a:focus {
	text-decoration: none;
	background: none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
p {
	margin-bottom: 24px;
	line-height: 24px;
}
img[alt] {
	color: #000;
}
/* Container with online request & member area */
.top-container {
    padding: 13px 15px;
    background:rgba(0,0,0,0.75);
    margin: 0 auto;
}
.top-container-links {
    text-align: left;
    position: relative;
    left: 110px;
    color: #fff;
}
.top-container-links a {
    color: #fff;
    font-size: 14px;
}
.top-container-links a:hover {
    border-bottom: 1px solid #fff;
}
.top-container-right {
    float: right;
    font-size: 15px;
    color: #fff;
    position: relative;
    bottom: 20px;
    right: 40px;
}
.top-container-right::after {
    content: '';
    display: table;
    clear: both;
}
.mob-container {
    color: #fff;
}
.mob-container span {
    padding-left: 20px;
}
.mob-container a {
    color: #fff;
    font-size: 14px;
}
.mobile-box {
    background: rgba(76, 98, 173, 0.9);
    position: relative;
    height: 55px;
}
/* Tooltip on hover/tap */
.tip-tip {
	position: relative;
	bottom: .6em;
	color: #fff;
	font-size:.8em;
	padding: .2em .6em;
	background-color: #87d2f1;
	box-shadow: 0px -1px 2px #ccc;
	border-radius: 50%;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	line-height: 2.5em;
}
.tip-tip:hover {
	color: #f1a687;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
/* Костыли секшн старт */
.relative {
	position: relative;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.hidden {
	display: none;
}
.shown {
	display: block;
}
.bold {
	font-weight: bold;
}
.font14px {
	font-size: 14px;
}
.margbottom35px	{
	margin-bottom: 35px !important;
}
.margtop-46px {
    margin-top: -46px;
    /*transition: 0.1s linear;*/
}
.padding30px {
	padding-bottom: 30px;
}
.padding40px {
	padding-bottom: 40px;
}
.centered {
	display: block;
	margin: 0 auto;
}
.spaced-ol {
	margin-top: 25px;
}
ol.spaced-ol li {
	margin-bottom: 10px;
}
ul.spaced-ul li {
	margin-bottom: 10px;
}
.round-image {
	border-radius: 50%;
}
.black-font {
	color: #000;
}
/* Костыли секшн энд */

/* Navbar brand round*/
div.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: none;
	position: absolute;
	top: 0;
	left: 0;
}
div.navbar-brand_ a {
	display: inline-block;
	padding: 0;
}
/* Navbar brand mobile*/
div.mobile-navbar-brand_ {
	margin: 0;
	padding: 0;
	float: none;
	position: absolute;
	top: 2px;
	left: 2px;
}
div.mobile-navbar-brand_ a {
	display: inline-block;
	padding: 0;
}
/* Navbar brand rectangular*/
div.navbar-brand-rect {
	margin: 0;
	padding: 0;
	float: none;
	position: absolute;
	top: -50px;
	left: 0;
}
div.navbar-brand-rect a {
	display: inline-block;
	padding: 0;
}

h1 {
	font: 35px/30px 'PFCentroSlabProBold';
	letter-spacing: 1px;
	color: #555a78;
	text-transform: uppercase;
	margin: 1px 0 21px 0;
}
h2 {
	font: 32px/28px 'PFCentroSlabProBold';
	letter-spacing: 1px;
	color: #555a78;
	text-transform: uppercase;
	margin: 1px 0 21px 0;
}
h2.indent {
	margin: 0 0 27px 0;
}
h2.indent25-50 {
	margin: 25px 0 50px 0;
}
h3.indent {
	margin: 0 0 25px 0;
}
h3 {
	font: bold 20px/26px 'PFCentroSlabProRegular';
	color: #555a78;
	text-transform: uppercase;
	margin: 0 0 11px 0;
}
.h2-like-h3 { /*Used on ABOUT US due to semantic reasons*/
	font: bold 20px/26px 'PFCentroSlabProRegular' !important;
	margin: 0 0 11px 0 !important;
}
h4 {
	font: bold 14px/18px 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555a78;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 8px 0;
}
.extra-wrap {
	overflow: hidden;
	color: #fff;
	line-height: 24px;
}
.extra-wrap a {
	display: block;
	color: #fff;
	text-decoration: underline;
	text-align: right;
	margin-top: 8px;
	font-size: 14px;
}
.news-title h3 {
	font-size: 1.4em;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    letter-spacing: 1px;
}
.extra-wrap a:hover {
	text-decoration: underline;
}
.global {
	padding: 107px 0 0 0;
	background: #f2f2f2;
}
.global-mini {
    padding: 33px 0 0 0;
    background: #f2f2f2;
    text-align: center;
}
.no-horiz-scroll { /* This is used in comment form: */
	width: 100%;
}
.white-bg {
	background: #fff;
}
.gray-bg {
	background: #f2f2f2 url(../img/triangle2.png) center top no-repeat !important;
}
.global.program {
	padding: 35px 0 0 0;
}
.global.pages {
	padding: 50px 0 0 0;
}
.global.indent {
	padding: 137px 0 0 0;
	background: #f2f2f2;
}
.program-wrapper h2 {
	font: bold 20px/20px 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555a78;
	margin: 0 0 15px 0;
}
.program-wrapper p {
	margin: 0 0 15px 0;
	line-height: 20px;
}
.program-wrapper p + ul {
	margin-bottom: 20px;
	margin-top: -5px;
}
.program-wrapper ul li {
	margin-bottom: 6px;
	list-style-type: square;
}
.program-wrapper table {
	width: 100%;
	margin: 30px 0 20px 0;
}
.program-wrapper table td:nth-child(1) {
	font-weight: bold;
	padding: 5px 0;
	width: 45%;
}
.program-wrapper table td:nth-child(2) {
	padding: 2px 0 0 10px;
	width: 55%;
}
.program-wrapper table td:first-child {
	font-weight: bold;
}
.program-wrapper td span {
	color: #4C62AD;
	border-bottom: 1px dotted #4C62AD;
	cursor: help;
}
.program-wrapper .phone {
	font-size: 1.2em;
	line-height: 1.6em;
	color: #5A6CA8;
	margin-top: 25px;
}
.program-wrapper {
	margin-bottom: 40px;
}
.text-on-gray {
	margin: 10px 0 40px;
}
.article-content {
	font-size: 14px;
	line-height: 1.5em;/* 21px */
}
.article-content .row {
	font-size: 13px;
	margin-top: -15px;
}
.article-content .scaled {
	width: 100%;
	margin-top: 7px;
}
.marg25px {
	margin-top: 25px;
}
.marg40px {
	margin-top: 40px;
}
.capitalized {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: normal !important;
	color: #555a78 !important;
}
.non-capitalized {
	text-transform: none;
}
.article-content h1 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em; /* 28px */
	font-weight: normal;
	line-height: 1.5em;
	margin:  1.5em 0 0.75em;
	color: #000;
}
.article-content .lead {
	font-family: Arial, sans-serif;
	font-size: 115%;
	font-style: italic;
 }
.article-content h2 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.786em; /* 25px */
	font-weight: normal;
	line-height: 1.68em;
	margin:  1.68em 0 0.84em;
	color: #000;
}
.article-content h2:first-child {
	margin-top: 0;
}
.article-content h3 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.571em; /* 22px */
	font-weight: normal;
	line-height: 1.9em;
	margin:  1.5em 0 0.75em;
	text-transform: none;
	letter-spacing: 0;
	color: #000;
}
.article-content h4 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.357em; /* 19px */
	font-weight: normal;
	line-height: 1.105em;
	margin:  1.45em 0 0.73em;
	text-transform: none;
	letter-spacing: 0;
	color: #000;
}
.article-content h5 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.143em; /* 16px */
	font-weight: normal;
	line-height: 1.312em;
	margin:  1.312em 0 0.66em;
	text-transform: none;
	letter-spacing: 0;
	color: #000;
}
.article-content p {
	font-size: 1em; /* 14px */
	line-height: 1.5em;
	margin: 1.5em 0;
}
.article-content ul {
	list-style-type: square;
}
.article-content p  + ul {
	margin-top: -10px;
}
.article-content  dl {
	margin: 1.4em 0;
}
.article-content dt {
	margin-bottom: 0.7em;
	font-size: 1.2em;
    line-height: 1.4em;
	font-weight: normal;
    color: #000;
}
.article-content dd {
	margin-left: 1.785em;
	margin-bottom: 1.4em;
}
.vacancy-about p {
	font-size: 1.08em;
	line-height: 1.6em;
}
.job-details {
	text-align: left;
	display: none;
}
.job-details p + ul {
	margin-top: -10px;
}
h4.inCol-3 {
	margin: 32px 0 10px 0;
	text-transform: none;
	letter-spacing: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}
.dn-pdf {
	display: block;
	width: 100%;
	padding: 8px 0;
	text-decoration: none;
	color: #41B8E9;
}
a.disable-visited:visited {
	color: #41B8E9;
}
a.disable-visited:hover {
	color: #e97241;
}
.center {
	text-align: center;
}
.bg_pic .title {
    text-shadow: 0 1px 8px #000;
}
.bg_pic1 .title1 {
    text-shadow: 0 1px 8px #000;
}
.bg_pic .description {
    text-shadow: 0 1px 8px #000;
}
.bg_pic .open-day {
	position: relative;
	display: inline-block;
    margin-top: 65px;
}
.bg_pic .open-day a {
	color: #fff;
	background: rgba(229, 88, 30, 0.8);
	padding: 10px 15px;
	font: 500 20px 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	border: 1px solid #e97241;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.bg_pic .open-day a:hover {
	background: #fff;
	color: #e97241;
	border: 1px solid #e5581e;
	text-shadow: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.bg_pic1 .description1 {
    text-shadow: 0 1px 8px #000;
}
/*-----menu-----*/
nav.tm_navbar {
	background: none;
	border: none;
	padding: 0;
	margin: 24px 0;
	float: right;
	display: inline-block;
	min-height: 0;
}
nav.tm_navbar li {
	font-size: 14px;
	line-height: 24px;
	padding: 0;
	margin: 0 28px 0 0;
	float: left;
}
nav.tm_navbar li:first-child {
	margin-left: 0;
}
nav.tm_navbar li a {
	position: relative;
	padding: 4px 10px;
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
nav.tm_navbar li a::before, nav.tm_navbar li a::after {
 position: absolute;
 left: 0;
 width: 100%;
 height: 1px;
 background: #ffffff;
 content: '';
 opacity: 0;
 -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
 -moz-transition: opacity 0.3s, -moz-transform 0.3s;
 transition: opacity 0.3s, transform 0.3s;
 -webkit-transform: translateY(-10px);
 -moz-transform: translateY(-10px);
 transform: translateY(-10px);
}
nav.tm_navbar li a::before {
 top: 0;
 -webkit-transform: translateY(-10px);
 -moz-transform: translateY(-10px);
 transform: translateY(-10px);
}
nav.tm_navbar li a::after {
 bottom: 0;
 -webkit-transform: translateY(10px);
 -moz-transform: translateY(10px);
 transform: translateY(10px);
}
nav.tm_navbar li.active > a {
	color: #ffffff;
	background: none;
	font-weight: bold;
}
nav.tm_navbar li.active > a::before, nav.tm_navbar li.active > a::after {
 opacity: 1;
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 transform: translateY(0px);
}
nav.tm_navbar li:hover > a {
	color: #ffffff;
	background: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
nav.tm_navbar li:hover > a::before, nav.tm_navbar li:hover > a::after {
 opacity: 1;
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 transform: translateY(0px);
}
nav.tm_navbar .sfHover > a {
	color: #ffffff;
	background: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
nav.tm_navbar .sfHover > a::before, nav.tm_navbar .sfHover > a::after {
 opacity: 1;
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 transform: translateY(0px);
}
nav.tm_navbar li span {
	height: 4px;
	background: url(../img/menu-marker.png) center right 23px no-repeat;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 26px;
	top: 12px;
	z-index: 0;
}

/*-----Online request-----*/
nav.tm_navbar  .online-request {
	margin-left: 40px;
	position: relative;
	bottom: 6px;
}
nav.tm_navbar  .online-request a {
	padding: 8px 12px;
	letter-spacing: 1px;
	border: 1px solid white;
	font-weight: 600;
}
nav.tm_navbar li.online-request:hover > a::before, nav.tm_navbar li.online-request:hover > a::after {
	opacity: 0;
}
nav.tm_navbar  .online-request a:hover {
	background: #fff;
	color: #e97241; !important;
}
/*-----Online request MOBILE-----*/
.online-request-mob {
	margin-left: 45px;
	position: absolute;
	right: 80px;
	top: 8px;
	padding: 8px 12px;
	letter-spacing: 1px;
	border: 1px solid white;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff !important;
}
/*-----subMenu1-----*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 200px;
	left: -29px;
	top: 43px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #fff;
	padding: 10px 0 5px 0;
	margin: 0;
	text-align: left;
	border-top: 3px solid #41B8E9;
	box-shadow: -1px 1px 3px #ccc;
}
nav.tm_navbar .sub-menu > ul li {
	background: none;
	position: relative;
	border: none;
	width: auto;
	float: none;
	margin: 0 0 6px 0;
	padding: 0;
	display: block;
}
nav.tm_navbar .sub-menu > ul li a {
	background: transparent;
	padding: 0 0 0 44px;
	margin: 0;
	float: none;
	font: 13px/23px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #303030;
	display: block;
	text-transform: none;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar .sub-menu > ul li a::before, nav.tm_navbar .sub-menu > ul li a::after {
 display: none;
}
nav.tm_navbar .sub-menu > ul li span {
	display: inline-block;
	background: url(../img/menu-marker2.png) right 0 no-repeat;
	width: 6px;
	height: 5px;
	position: absolute;
	left: auto;
	right: 14px;
	top: 10px;
}
nav.tm_navbar .sub-menu > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: #41B8E9 !important;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar .sub-menu > ul li.sfHover > a {
	text-decoration: none;
	color: #ffffff !important;
	background: #41B8E9 !important;
}
/*-----subMenu2-----*/
nav.tm_navbar .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 230px;
	left: 203px;
	top: -2px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #fff;
	padding: 10px 0 5px 0;
	margin: 0;
	text-align: left;
	box-shadow: -1px 1px 3px #ccc;
}
nav.tm_navbar .sub-menu ul ul li {
	text-align: left;
}
nav.tm_navbar .sub-menu ul ul li a {
	background: transparent;
	padding: 0 0 0 44px;
	margin: 0;
	float: none;
	font: 13px/23px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #303030;
	display: block;
	text-transform: none;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar .sub-menu > ul li > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: #41B8E9 !important;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.select-menu {
	display: none !important;
}
.select-menu {
	display: none !important;
}
/*-----secondaryMenu-----*/
.secondary-menu {
	text-align: center;
	margin-bottom: -1px;
}
.secondary-menu  ul {
	list-style-type: none;
	margin: 0;
}
.secondary-menu  li {
	display: inline-block;
	margin: 0 -2px;
	padding: 15px 0;
	}
.secondary-menu  a{
	padding: 15px 20px;
	color: #fff;
	background: rgba(65, 184, 233, 0.9);
	font-size: 14px;
}
.secondary-menu  a:hover{
	background: rgba(242, 242, 242, 0.91);
	color: #555a78;
}
.secondary-menu .active {
	background: #f2f2f2;
	color: #555a78;
}

/*-----content-----*/
header {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 11;
}
header .box {
	background: rgba(76, 98, 173, 0.9);
	position: relative;
}
header.indent {
	background: #f2f2f2;
	position: relative;
}
#toTop {
	display: none;
	width: 32px;
	height: 32px;
	background: url(../img/top.png) 0 top no-repeat;
	position: fixed;
	margin-right: -660px !important;
	right: 50%;
	bottom: 224px;
	z-index: 999;
}
#toTop:hover {
	background: url(../img/top.png) 0 bottom no-repeat;
}
p.par-description {
	font-size: 14px;
	margin-bottom: 35px;
	color: #8f8f8f;
}
.contact-phone{
	font: 20px/27px 'Roboto Condensed', Arial, sans-serif;
	text-align: center;
	margin: 0 0 15px 0;
	color: #c8474f;
}
.info p {
	line-height: 15px;
}
.mapMarker{
	float: left;
	margin-right: 17px;
	width: 24px;
	height: 35px;
}
.blue {
	background: url(../img/marker-sprite.png) 0 0 no-repeat;
}
.red {
	background: url(../img/marker-sprite.png) -24px 0 no-repeat;
}
.green {
	background: url(../img/marker-sprite.png) -48px 0 no-repeat;
}
.yellow {
	background: url(../img/marker-sprite.png) -72px 0 no-repeat;
}
.video-pres {
	text-align: center;
	}
/*-----Collapsible text begin-----*/
p.textCollapsible {
	font-size: 15px;
	color: #4C62AD;
	cursor: pointer;
}
i.textCollapsible-plus {
	color: #fff;
	background-color: rgba(76, 98, 173, 0.9);
	padding: 4px 0;
	margin-right: 3px;
	font-size: 1em;
	vertical-align: -3%;
}
div.textCollapsed {
	display: none;
}
/*-----Collapsible text end-----*/
.staff {
	margin-bottom: 35px;
	font-size: 14px;
}
.staff-member-title {
	font: bold 13px/18px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555a78;
    text-transform: uppercase;
    text-align: center;
	margin: 1em 0 0 0;
}
.staff-member-subtitle {
	color: #8f8f8f;
}
.staff-padding-left25 {
	padding-left: 25px;
}
/*-----Accordion slider on h3, all tabs can be opened-----*/
.vacancies-right .bold {
	font-weight: bold;
}
.vacancies-right .dec-school-blue {
	color: rgb(76, 98, 172);
}
.slider-wrapper {
	margin-top: -10px;
}
.slider-wrapper:last-child {
	margin-bottom: 25px;
}
.slider-wrapper h3 {
	padding: 3px 10px;
	font-size: 1.35em;
	color: #f2f2f2;
	background-color: rgba(76, 98, 173, 0.92);
	border-radius: 5px;
	box-shadow: 1px 0px 5px #ccc;
	cursor: pointer;
	margin-bottom: -5px;
}
.slider-header-opened {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	background-color: #4C62AD !important;
	color: #fff !important;
}
.slider-wrapper h3:hover {
	background-color: #4C62AD;
	color: #fff;
}
.slider-wrapper .fa-plus , .slider-wrapper .fa-minus {
	color: #f2f2f2;
}
.slider-wrapper .job-details{
	margin-top: -15px;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 4px #ddd;
	padding: 15px 20px;
	background-color: #fff;
}
.slider-wrapper .published {
	font-size: .9em;
	font-style: italic;
	color: #8f8f8f;
}

/*-----Accordion slider, only one tab can be opened at a time-----*/
.ac-container h3:hover{
	background-color: #4C62AD;
	color: #fff;
}
.ac-container .activated {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	background-color: #4C62AD;
	color: #fff;
}
.ac-small {
	display: none;
}
.ac-small  p + ul {
	margin-top: -10px;
}
.ac-container .ac-small {
	margin: 5px 0 25px 0;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 4px #ddd;
	padding: 15px 20px;
	background-color: #fff;
}

/*-----Learn more section begin-----*/
.learnMore-wrapper {
	margin: 20px 0 30px;
}
.middle-container {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.learnMore-wrapper  i {
	display: block;
	margin: 15px auto 20px;
	padding: 5px;
	background-color: #41B8E9;
	color: #fff;
	font-size: 2.5em;
}
.learnMore-wrapper  p {
	padding: 0 25px;
}
.learnMore-wrapper  h4 {
	font-size: 15px;
	font-family: 'Open Sans', Arial, sans-serif;
}
/*-----Learn more section end-----*/

.trainerBox {
	margin-bottom: 20px;
	position: relative;
	display: block;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure a {
	position: relative;
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.trainerBox figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.trainerBox figure a:hover img {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.trainerBox figure img {
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	outline: 1px solid transparent;
}
.who-box {
	padding: 0;
}
.who-box .col-lg-4 {
	margin-bottom: 27px;
}
.bg_pic {
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: 273px 0 178px 0;
	width: 100%;
	text-align: center;
	background: #f2f2f2 url(../img/bg_pics/bg_pic1.jpg) left top fixed no-repeat;
}
/*Background pictures for site pages start*/
.bg_pic_ielts {
	background: #f2f2f2 url(../img/bg_pics/ielts-prep.jpg) center top fixed no-repeat;
}
.bg_pic_school {
	background: #f2f2f2 url(../img/bg_pics/school-facade.jpg) center top fixed no-repeat;
}
.bg_pic_teachers {
	background: #f2f2f2 url(../img/bg_pics/teachers.jpg) center top fixed no-repeat;
}
.bg_pic_default {
	background: #f2f2f2 url(../img/bg_pics/default.jpg) left top fixed no-repeat;
}
.bg_pic_privacy-policy {
	background: #f2f2f2 url(../img/bg_pics/privacy-policy.jpg) center top fixed no-repeat;
}
.bg_pic_vacancies{
	background: #f2f2f2 url(../img/bg_pics/vac-cover.jpg) center top fixed no-repeat;
}
/*Background pictures for site pages end*/
.bg_pic .title {
	color: #ffffff;
	font: bold 50px/60px 'PFCentroSlabProRegular';
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 8px;
}
/*Stitching in some messy CSS patches (for secondary menu) BEGIN*/
.bg_pic1 {
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: 273px 0 0 0;
	width: 100%;
	text-align: center;
}
.bg_pic1 .title1 {
	color: #ffffff;
	font: bold 50px/60px 'PFCentroSlabProRegular';
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 178px;
}
/*Stitching in some messy CSS patches (for secondary menu) END*/
.bg_pic .description {
	color: #ffffff;
	font: bold 14px 'PFCentroSlabProRegular';
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin: 0;
    margin-top: 50px;
}
.bg_pic .description i {
	display: inline-block;
	position: absolute;
	top: 9px;
	left: -284px;
	background: #ffffff;
	width: 256px;
	height: 1px;
	opacity: 0.75;
	filter: alpha(opacity=75);
}
.bg_pic .description em {
	display: inline-block;
	position: absolute;
	top: 9px;
	right: -284px;
	background: #ffffff;
	width: 256px;
	height: 1px;
	opacity: 0.75;
	filter: alpha(opacity=75);
}
.bg_pic .description::after {
 position: absolute;
 top: 5px;
 left: -28px;
 width: 9px;
 height: 9px;
 border-radius: 100%;
 background: #ffffff;
 content: '';
}
.bg_pic .description::before {
 position: absolute;
 top: 5px;
 right: -28px;
 width: 9px;
 height: 9px;
 border-radius: 100%;
 background: #ffffff;
 content: '';
}
.testimBox {
	overflow: hidden;
	padding: 60px 0 37px 0;
	background: #ffffff url(../img/triangle.png) center top no-repeat;
}
.offer-box {
	overflow: hidden;
	padding: 62px 0 32px 0;
	background: #f2f2f2 url(../img/triangle2.png) center top no-repeat;
}
.thumb-box1 {
	position: relative;
	overflow: hidden;
	padding: 62px 0 37px 0;
	background: #ffffff url(../img/triangle.png) center top no-repeat;
}
.thumb-box2 {
	position: relative;
	overflow: hidden;
	padding: 62px 0 67px 0;
	background: #f2f2f2 url(../img/triangle2.png) center top no-repeat;
}

.box-triangle-white {
    background: #f2f2f2 url(../img/triangle2.png) center top no-repeat;
}

.thumb-box2 figure {
	margin-bottom: 39px;
}
.thumb-box2 figure img {
	width: 100%;
}
.thumb-box3 {
	position: relative;
	overflow: hidden;
	padding: 62px 0 67px 0;
	text-align: center;
	background: #5A6CA8 url(../img/triangle.png) center top no-repeat;
}
.thumb-box3 h2 {
	color: #ffffff;
}
.thumb-box3 p {
	color: #c5c7d1;
}
.thumb-box4 {
	margin-bottom: 34px;
}
.thumb-box5 {
	margin-bottom: 47px;
}
.thumb-box6 {
	position: relative;
	overflow: hidden;
	padding: 62px 0 10px 0;
	background: #ffffff url(../img/triangle.png) center top no-repeat;
}
.thumb-box6 .box {
	margin-bottom: 37px;
}
.thumb-box7 {
	overflow: hidden;
	padding: 62px 0 37px 0;
	background: #f2f2f2 url(../img/triangle2.png) center top no-repeat;
}
.thumb-box7 .col-lg-4 {
	margin-bottom: 30px;
}
/*---Blue News Box on Main----*/
.date-box {
	margin-bottom: 39px;
}
.date-box > div {
	background: #41B8E9;
	padding: 23px 20px 35px 15px;
	overflow: hidden;
	text-align: left;
	height: 250px;
}
.date-box h3 {
  font: bold 14px/22px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: none;
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 15px;
}
.date-box > div .badge {
	text-align: center;
	border-radius: 0;
	background: none;
	float: left;
	margin: 0 15px 0 0;
	font: 40px/32px 'PFCentroSlabProBold';
	color: #ffffff;
}
.date-box > div .badge span {
	font-size: 16px;
	display: block;
	text-transform: uppercase;
}
h3 .fresh-news {
	color: #fff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.fresh-news:hover {
	text-shadow: 0px 0px 5px #333;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
/*----Comment Box in News----*/
.date-box > div .badge strong {
	font-size: 18px;
	line-height: 35px;
	margin-top: 15px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	display: block;
}
.date-box > div .badge strong img {
	margin-left: 10px;
}
.date-box p {
	color: #ffffff;
	margin: 0;
}
.errorBox {
	margin-bottom: 72px;
}
.errorBox img {
	width: 100%;
}
.errorBox1 {
	margin-bottom: 72px;
}
/*-----subscribeForm-----*/
#newsletter {
	display: inline-block;
	position: relative;
	margin-top: 5px;
}
#newsletter button {
	font: bold 13px/36px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	background: #c8474f;
	padding: 0 28px;
	text-transform: uppercase;
	display: inline-block;
	float: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
    border: 0;
}
#newsletter button:hover {
	background: #ffffff;
	color: #c8474f;
}
#newsletter input {
	background: none;
	box-shadow: none;
	border-radius: 0;
	border: 1px solid #ffffff;
	font: 13px/18px 'Open Sans';
	color: #969696;
	text-align: center;
	background: #ffffff;
	height: 48px;
	width: 570px;
	padding: 14px;
	margin: 0 0 35px 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
#newsletter input:focus {
	outline: none;
	border-color: #ffffff;
}
#newsletter .error {
	position: absolute;
	top: 0;
	right: 3px;
	text-align: right;
	display: block;
	overflow: hidden;
	height: 0px;
	font-size: 10px;
	color: #c8474f;
	text-transform: none;
	font-weight: normal;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
#newsletter label.invalid .error {
	height: 19px;
}
#newsletter .success {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	text-align: center;
	border: 1px solid #ffffff;
	font: 11px/18px 'Open Sans';
	height: 48px;
	text-transform: uppercase;
	color: #c8474f;
	background: #ffffff;
	width: 570px;
	padding: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.success_message {
	font-size: 14px;
	font-weight: bold;
}
.dispnone {
    display: none;
}

/*-----thumbs-----*/
.thumb-pad1 {
	margin: 0 0 63px 0;
	padding: 86px 35px 49px 35px;
	overflow: hidden;
	background: #ffffff;
	border: 1px solid #dadada;
	text-align: center;
	overflow: visible !important;
}

.thumb-pad1-comment-form {
    margin: 0 0 63px 0;
    padding: 86px 35px 49px 35px;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #dadada;
    text-align: center;
    overflow: visible !important;
}

.thumb-pad1 .badge {
	padding: 0;
	margin: 0 0 0 -47px;
	width: 94px;
	height: 94px;
	line-height: 94px;
	text-align: center;
	border-radius: 100%;
	background: #41B8E9;
	float: left;
	margin-right: 34px;
	position: absolute;
	top: -44px;
	left: 50%;
}

.thumb-pad1 .badge-comments {
    padding: 0;
    margin: 0 0 0 -47px;
    width: 92px;
    height: 92px;
    line-height: 90px;
    text-align: center;
    border-radius: 100%;
    background: #fff;
    float: left;
    margin-right: 34px;
    position: absolute;
    top: -44px;
    left: 50%;
}

.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption p {
	margin-bottom: 20px;
}
.thumb-pad1 .thumbnail .caption .title {
	text-transform: uppercase;
	font: bold 22px 'PFCentroSlabProRegular';
	color: #555a78;
	margin-bottom: 13px;
}
.thumb-pad2 {
	margin: 0 0 30px 0;
	overflow: hidden;
	text-align: center;
}
.thumb-pad2 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad2 figure {
	margin: 0 0 26px 0;
}
.thumb-pad2 figure img {
	width: 100%;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad3 {
	overflow: hidden;
	margin: 0;
}
.thumb-pad3 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad3 figure {
	margin: 0 0 20px 0;
}
.thumb-pad3 figure img {
	width: 100%;
}
figure .vacancy-header {
	font-size: 14px;
    line-height: 1.5em;
    font-weight: bold;
}
.thumb-pad3 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad3 .thumbnail .caption a {
	font: bold 13px/18px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555a78;
	text-transform: uppercase;
	display: block;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad3 .thumbnail .caption a:hover {
	color: #e97241;
}
.hover-active {
	color: #e97241 !important;
}
.hoveribleImg {
	cursor: pointer;
}
.thumb-pad3 .thumbnail .caption p {
	text-align: center;
}
.features-wrapper {
	border: 1px solid #ddd;
	box-shadow: inset -1px -1px 5px #eee;
	border-radius: 5px;
	padding: 5px 10px 15px 10px;
	margin-bottom: 35px;
}
.features-wrapper h3 {
	margin: 10px 0;
}
.school-features {
	display: table-cell;
	width: 50%;
}
.school-features h4 {
	margin: 0 5px 13px;
}
.school-features ul {
	list-style: url(../img/list_arrow-circle.png);
}
.school-features li {
	margin-bottom: 10px;
}
.thumb-pad4 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad4 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad4 figure {
	margin: 0 0 28px 0;
}
.thumb-pad4 figure img {
	width: 100%;
}
.thumb-pad5 {
	margin: 0 0 11px 0;
	overflow: hidden;
}
.thumb-pad5 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad5 .thumbnail .badge {
	padding: 0;
	margin: 0 28px 0 0;
	border: none;
	border-radius: 100%;
	background: #e9ac06;
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 97px;
	color: #ffffff;
	font-size: 50px;
}
.thumb-pad5 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
/*---*/
.thumb-pad5-1 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad5-1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad5-1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad5-1 .thumbnail figure {
	float: left;
	margin: 0 30px 0 0;
}
.thumb-pad6 {
	margin: 0 0 11px 0;
	overflow: hidden;
}
.thumb-pad6 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad6 .thumbnail span {
	float: left;
	margin-right: 13px;
	font-size: 20px;
	color: #e9ac06;
}
.thumb-pad6 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad7 {
	margin: 0 0 35px 0;
}
.thumb-pad7 .badge {
	padding: 0;
	text-align: center;
	border-radius: 0;
	float: left;
	margin: 8px 30px 20px 0;
	background: none;
	color: #41B8E9;
}
.thumb-pad7 .badge mark {
	display: block;
	font: bold 45px/35px 'Roboto Condensed', Arial, sans-serif;
	color: #41B8E9;
	background: none;
}
.thumb-pad7 .badge span {
	font-size: 36px;
	display: block;
	text-transform: uppercase;
    font: bold 20px/20px 'Roboto Condensed', Arial, sans-serif;
    margin-top: 8px;
	letter-spacing: 1px;
}
.thumb-pad7 .badge strong {
	font-size: 20px;
	line-height: 35px;
	margin-top: 15px;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	display: block;
}
.thumb-pad7 .badge strong img {
	margin-left: 10px;
}
.thumb-pad7 .post {
	margin: 8px 0 22px 0;
}
.thumb-pad7 .lnk {
	font: bold 13px/18px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555a78;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad7 .lnk:hover {
	color: #b93a41;
}
.thumb-pad7 .thumbnail {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad7 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad7 .thumbnail figure {
	margin: 0 0 25px 0;
}
.thumb-pad7 .thumbnail figure img {
	width: 100%;
}
.thumb-pad8 {
	overflow: hidden;
	background: #f2f2f2;
	margin-bottom: 30px;
}
/* NEWS SECTION */
.news {
	color: #1a1a1a;
}
.newslead {
	font-size: 14px;
	margin-bottom: 24px;
	line-height: 24px;
}
.news-content {
	font-size: 13px;
	line-height: 1.5em;
	margin: 1.5em 0;
}
.news-content .floating img {
	float: left;
	margin: 10px 20px 15px 0;
}
.clearfix:after {
	clear: both;
	content:' ';
	display: table;
}
.news-content h4 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.357em; /* 18px */
	font-weight: normal;
	line-height: 1.105em;
	margin:  1.45em 0 0.73em;
	text-transform: none;
	letter-spacing: 0;
	color: #4C62AD;
}
.news-content h5 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.143em; /* 16px */
	font-weight: normal;
	line-height: 1.312em;
	margin:  1.312em 0 0.66em;
	text-transform: none;
	letter-spacing: 0;
	color: #4C62AD;
}
.news-content p {
	font-size: 1em; /* 13px */
	line-height: 1.5em;
	margin: 1.5em 0;
}
.news-content ul {
	list-style-type: square;
}
.news-content ul  li {
	margin-bottom: 8px;
}
.news-content p  + ul {
	margin-top: -10px;
}
.news-content ol  li {
	margin-bottom: 8px;
}
.news-content p  + ol {
	margin-top: -10px;
}

/* NEWS SECTION END*/
.thumb-pad8 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad8 .thumbnail p {
	margin-bottom: 35px;
}
.thumb-pad8 .thumbnail .caption {
	padding: 32px 20px 30px 20px;
	overflow: hidden;
	color: #8f8f8f;
}
.thumb-pad8 .thumbnail figure {
	margin: 0;
}
.thumb-pad8 .thumbnail figure img {
	width: 100%;
}
/*-----btn-----*/
.btn-default.btn1 {
	box-shadow: none;
	text-decoration: none !important;
	display: inline-block;
	padding: 0 20px;
	font: bold 13px/34px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-transform: uppercase;
	text-shadow: none;
	border-radius: 0;
	color: #ffffff;
	background: #4C62AD;
	border: 1px solid #5A6CA8;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn1:hover {
	color: #555a78;
	background: transparent !important;
	text-decoration: none !important;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2 {
  box-shadow: none;
  text-decoration: none !important;
  display: block;
  padding: 0 20px;
  font: bold 13px/34px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  text-shadow: none;
  border-radius: 0;
  color: #ffffff;
  background: #4C62AD;
  border: 1px solid #5A6CA8;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 150px;
  margin: 20px auto 0;
}
.btn-default.btn2:hover {
	color: #555a78;
	background: transparent !important;
	text-decoration: none !important;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

/*-----Button in testiominals-----*/
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton a {
	color: #fff;
}
.myButton a:focus {
	outline: none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*-----list-----*/
.list1-1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: left;
}
.list1-1.indent {
	margin-bottom: 46px;
}
.list1-1 li {
	font-size: 13px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 16px;
	padding-left: 19px;
	background: url(../img/list_arrow.png) left 5px no-repeat;
}
.list1-1 li a {
	font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #8f8f8f;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list1-1 li a:hover {
	color: #41b8e9;
}
.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list1 li {
	font-size: 13px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 28px;
}
.list1 li p {
	margin-bottom: 0;
}
.list1 li .badge {
	padding: 0;
	margin: 0;
	width: 69px;
	height: 69px;
	text-align: center;
	border-radius: 100%;
	background: #41b8e9;
	float: left;
	margin: 0 30px 0 0;
	font: 50px/69px 'PFCentroSlabProBold';
	color: #ffffff;
}
.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list2 li {
	font-size: 13px;
	line-height: 1.428571429;
	margin-bottom: 28px;
}
.list2 li figure {
	float: left;
	margin: 5px 20px 0 0;
}
.list2 li a {
	font: bold 13px/18px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555a78;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list2 li a:hover {
	color: #b93a41;
}
.list2 p{
	color: #1a1a1a;
}
.testimonial-pic {
	border-radius: 50%;
	border: 1px solid #41B8E9;
	padding: 2px;
}
p.testimonial-author {
	font: bold 13px/18px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555a78;
	text-align: right;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.list3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list3 li {
	font-size: 13px;
	line-height: 1.428571429;
	margin-bottom: 6px;
}
.list3 li a {
	font: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #8f8f8f;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list3 li a:hover {
	color: #ff5d5c;
}
.list3 li p {
	margin-bottom: 0;
}
.list4 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.list4 li {
	font-size: 13px;
	line-height: 1.428571429;
	margin-bottom: 15px;
}
.list4 li p {
	margin-bottom: 0;
}
.list5 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list5 li {
	border-bottom: 1px solid #c4c4c4;
	padding-bottom: 10px;
	margin-bottom: 13px;
}
.list5 li a {
	color: #ff5d5c;
	font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 24px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list5 li a:hover {
	color: #8f8f8f;
}
.list5 li:last-child {
	border-bottom: none;
}
.list6 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list6 li {
	font-size: 13px;
	line-height: 1.428571429;
	margin-bottom: 28px;
}
.list6 li .badge {
	padding: 0;
	width: 55px;
	text-align: center;
	border-radius: 0;
	background: none;
	float: left;
	margin: 0 38px 20px 0;
	font: bold 60px/36px 'Passion One';
	color: #bb4148;
}
.list6 li .badge span {
	font-size: 36px;
	display: block;
	text-transform: uppercase;
}
.list6 li .badge strong {
	font-size: 20px;
	line-height: 35px;
	margin-top: 15px;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	display: block;
}
.list6 li .badge strong img {
	margin-left: 10px;
}
.list6 li p {
	margin-bottom: 0;
}
.list7 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list7 li {
	font-size: 13px;
	line-height: 1.428571429;
	margin-bottom: 0;
}
.list7 li .badge {
	padding: 0;
	margin: 0;
	width: 53px;
	height: 53px;
	border-radius: 100%;
	background: #74c0bc;
	text-align: center;
	line-height: 52px;
	color: #ffffff;
	font-size: 24px;
	float: left;
	margin-right: 12px;
	margin-top: 6px;
}
.list7 li .title {
	text-transform: uppercase;
	color: #74c0bc;
	font: 300 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 11px;
}
.list8 {
	margin: 0;
	padding: 0 0 40px 0;
	list-style: none;
}
.list8 li {
	font-size: 13px;
	line-height: 1.428571429;
	margin-bottom: 27px;
}
.list8 li p {
	margin-bottom: 0;
}
/*-----search-----*/
#search-404 input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #d9d9d9;
	background: #ffffff;
	font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #8f8f8f;
	padding: 14px;
	height: 48px;
	resize: none;
	margin-bottom: 33px;
}
#search {
	margin: 8px 0 0 0;
	position: relative;
	float: right;
}
#search a {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
}
#search a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#search input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	margin: 0;
	width: 270px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.5);
	font: 13px/48px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	padding: 0 58px 0 14px;
	height: 48px;
	outline: none;
	resize: none;
	overflow: hidden;
}
/*-----map-----*/
.formBox {
	padding-bottom: 70px;
}
.map {
	margin: 0 0 63px 0;
	width: 100%;
	line-height: 0;
	overflow: hidden;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 431px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.mail {
	color: #8f8f8f;
	font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: underline;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.mail:hover {
	color: #c8474f;
	text-decoration: none;
}
.logos-mini {
    width: 54px;
}
.rect-small {
    position: absolute;
    top: 50px;
    box-shadow: 0 0 1px #ccc;
}
/*------------------------------------------------------media queries---------------------------------------------------------*/
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
 .container h1 {
 margin-top: 0;
}
 .container .article-content {
  padding: 0 0 25px;
}
 nav.tm_navbar {
 margin-right: 24px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
 .bg_pic {
 background-size: cover;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
 header {
 text-align: center;
}
 h1.navbar-brand_ {
 position: relative;
}
 nav.tm_navbar {
 float: none;
}
 .bg_pic {
 background-size: cover;
}
 .bg_pic .title {
 font-size: 30px;
 line-height: 45px;
}
 .bg_pic .description i {
 left: -175px;
 width: 150px;
}
 .bg_pic .description em {
 right: -175px;
 width: 150px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 header {
 position: relative;
 text-align: center;
 background: #272d45;
 background: rgba(39, 45, 69, 0.96);
}
 header > .box {
 padding: 0 15px;
 background: none;
}
 h1.navbar-brand_ {
 position: relative;
}
 nav.tm_navbar {
 float: none;
}
 nav.tm_navbar .nav {
 display: none;
}
 nav.tm_navbar {
 width: 100%;
}
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #b93a41;
 background: #b93a41;
 color: #ffffff;
 cursor: pointer;
 height: 30px;
 font-size: 12px;
 vertical-align: middle;
}
 .map iframe {
 height: 300px;
}
 .bg_pic {
 background-size: cover;
 padding: 90px 0;
}
 .bg_pic .title {
 font-size: 30px;
 line-height: 45px;
}
 .bg_pic .description i,  .bg_pic .description em {
 display: none;
}
 .thumb-pad2 figure {
 margin: 0 26px 0 0;
 float: left;
}
 .thumb-pad2 .thumbnail .caption {
 text-align: left;
}
 #newsletter {
 display: block;
}
 #newsletter input,  #newsletter .success,  #newsletter label {
 width: 100%;
 display: block;
 margin: 0;
}
 .thumb-pad4 figure {
 margin: 0 28px 0 0;
 float: left;
}
 .thumb-pad4 .thumbnail .caption {
 overflow: visible;
}
 .offer-box .col-lg-3,  .offer-box .col-lg-4,  .offer-box .col-lg-5 {
 margin-bottom: 40px;
}
 .errorBox {
 text-align: center;
}
 .errorBox img {
 width: auto;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .thumb-pad2 figure {
 margin: 0 0 26px 0;
 float: none;
}
 .thumb-pad2 .thumbnail .caption {
 text-align: center;
}
 .thumb-pad4 figure {
 margin: 0 0 28px 0;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 .bg_pic br {
 display: none;
}
 .bg_pic .description::after,  .bg_pic .description::before {
 display: none;
 content: none;
}
 .thumb-pad7 p a {
 float: none !important;
}
 .thumb-pad7 p br {
 display: block;
}
/*
 footer {
 text-align: center;
}
 footer p {
 float: none !important;
 margin: 0 0 15px 0 !important;
}*/
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
 .thumb-pad7 .badge {
 float: none;
 margin: 0 0 20px 0;
 width: 100%;
}
 .errorBox img {
 width: 100%;
}
 .col-xs-6 {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
 .col-xs-4 {
 width: 100%;
 float: none;
}
 .col-xs-6 {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.margBot {
	margin-bottom: 0;
}
.padBot {
	padding-bottom: 0;
}

.events_marging {
    margin-left: 115px;
}

.input_keyword {
    font-weight: 400;
}

.input_keywords {
    font-weight: 400;
}

.input_description {
    font-weight: 400;
}
/*Core variables and mixins*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------*/
